// @use "../abstracts/colors" as c;
@use "../abstracts/" as *;
header {
	color: $white;
	font-family: $fontAntonio;
	width: 100%;
	border: 1px solid $payneGrey;
	box-sizing: border-box;
	padding-bottom: 20px;
	.header-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 95%;
		margin: 20px auto 0 auto;
		.header {
			h1 {
				font-weight: 300;
			}
		}
		.navigation {
			width: 500px;

			.nav-links {
				list-style: none;
				display: flex;
				justify-content: space-between;
				.nav-item {
					font-family: $fontSpartan;
					font-weight: 300;
					color: $white;
					text-transform: uppercase;
					text-decoration: none;
					height: 100%;
				}

				@each $planet, $color in $planets {
					.#{$planet}:hover {
						border-bottom: 1px solid #{$color};
					}
				}
			}
		}
	}
	.menu-icon-container {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	header {
		.header-container {
			flex-direction: column;
			gap: 20px;
		}
	}
}

@media only screen and (max-width: 520px) {
	header {
		.header-container {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			position: sticky;
			top: 0;
			.header {
				h1 {
					width: max-content;
				}
			}
			.menu-icon-container {
				display: block;
				width: min-content;
				float: right;
				position: absolute;
				right: 20px;
				.menu-icon {
					float: right;
				}
			}
			.navigation {
				align-items: center;
				width: min-content;
				.nav-links {
					flex-direction: column;
					position: fixed;
					width: 100%;
					background-color: #070724;
					left: 0;
					bottom: 0;
					height: calc(100% - 81px);
					.nav-item {
						display: flex;
						justify-content: space-between;
						padding: 0 30px;
						align-items: center;
						.nav-item-info{
							display: flex;
							gap: 20px;
							align-items: center;
						}
						img{
							height: 20px;
						}
					}
					@each $planet, $color in $planets {
						.#{$planet} > .nav-item-info> .circle {

							width: 25px;
							height: 25px;
							background: $color;
							border-radius: 100%;
						}
					}
				}
			}
		}
	}
}