@use "../abstracts/" as *;

main {
	color: $white;
	margin-top: 50px;
	width: 100%;
	.container {
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: 0 auto;
		align-items: flex-start;
		gap: 40px;
		.planet-details-container {
			display: flex;
			flex: auto 250px;
			width: 100%;
			justify-content: space-between;
			align-items: center;

			.planet-details {
				display: flex;
				flex-basis: 250px;
				flex-direction: column;
				gap: 20px;
				.planet-about-container{
					display: grid;
					.planet-name {
						font-family: $fontAntonio;
						text-transform: uppercase;
						font-weight: 400;
						font-size: 3.5em;
					}
	
					.planet-about {
						font-family: $fontSpartan;
						font-weight: 300;
						font-size: 14px;
						line-height: 25px;
						.planet-source {
							display: flex;
							gap: 10px;
							color: $payneGrey;
							a {
								color: $stack;
							}
						}
					}			
				}
		
				.info-states-container {
					font-family: $fontSpartan;
					.info-states {
						display: grid;
						gap: 20px;
						.info-state-item {
							cursor: pointer;
							border: 1px solid $payneGrey;
							padding: 10px 20px;
							display: flex;
							justify-content: space-between;
						}
						.active {
							background: $mercury;
							border: none;
						}
					}
				}
			}
		}
		.planet-info-container {
			display: flex;
			justify-content: center;
			gap: 30px;
			justify-content: stretch;
			width: 100%;
			.info-item {
				display: flex;
				flex-direction: column;
				width: 100%;
				border: 1px solid $payneGrey;
				padding: 25px 20px 25px;
				gap: 5px;
				.info-name {
					color: $stack;
					font-family: $fontSpartan;
				}
				.info-value {
					font-family: $fontAntonio;
				}
			}
		}
	}
}
@media only screen and (max-width: 1000px) {
	main {
		.container {
			.planet-info-container {
				gap: 10px;
				.info-item {

					.info-name {
						color: $stack;
						font-family: $fontSpartan;
						font-size: 0.8rem;
					}
					.info-value {
						font-family: $fontAntonio;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	main {
		.container {
			width: 95%;
			.planet-details-container{
				.planet-details{
					flex-direction: row;
					align-items: center;
					gap:50px;
					.planet-about-container{
						gap: 10px;
						.planet-about{
							display: flex;
							flex-direction: column;
							gap: 20px;							
							flex: 200px;
							.planet-source{
								font-size: 0.85rem;
							}
						}
					}
					.info-states-container{
						flex-basis: 130%;
						.info-state-item{

						}
					}
				}
			}
			.planet-details-container {
				flex-direction: column;
				gap: 50px;
			}
			.planet-info-container {
				gap: 20px;
				.info-item {
					padding: 25px 20px 25px;
					.info-name {
						color: $stack;
						font-family: $fontSpartan;
						font-size: 0.9rem;
					}
					.info-value {
						font-family: $fontAntonio;
					}
				}
			}
		}
	}
}
