@use "../abstracts/" as *;

main {
	color: $white;
	margin-top: 50px;
	width: 100%;
	.container {
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: 0 auto;
		align-items: flex-start;
		gap: 40px;
		.info-states-container-mobile{
			display: none;
		}
		.planet-details-container {
			display: flex;
			flex: auto 250px;
			width: 100%;
			justify-content: space-between;
			align-items: center;

			.planet-image{
				.image{
					max-width: 350px;

				}
			}
			.geology-image-container{
				position: relative;
				.geology-image{
					position: absolute;
					bottom: -10%;
					width: 100px;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			.planet-details {
				display: flex;
				flex-basis: 250px;
				flex-direction: column;
				gap: 20px;
				.planet-about-container{
					display: grid;
					.planet-name {
						font-family: $fontAntonio;
						text-transform: uppercase;
						font-weight: 400;
						font-size: 3.5em;
					}
	
					.planet-about {
						font-family: $fontSpartan;
						font-weight: 300;
						font-size: 14px;
						line-height: 25px;
						.planet-source {
							display: flex;
							gap: 10px;
							color: $payneGrey;
							a {
								color: $stack;
							}
						}
					}			
				}
		
				.info-states-container {
					font-family: $fontSpartan;
					.info-states {
						display: grid;
						gap: 20px;
						.info-state-item {
							color: $white;
							cursor: pointer;
							border: 1px solid $payneGrey;
							padding: 10px 20px;
							display: flex;
							justify-content: space-between;
							text-decoration: none;
						}
						.mercury.active{
							@include planetBackground($mercury)
						}
						.venus.active{
							@include planetBackground($venus)
						}
						.earth.active{
							@include planetBackground($earth)
						}
						.mars.active{
							@include planetBackground($mars)
						}
						.jupiter.active{
							@include planetBackground($jupiter)
						}
						.saturn.active{
							@include planetBackground($saturn)
						}
						.uranus.active{
							@include planetBackground($uranus)
						}
						.neptune.active{
							@include planetBackground($neptune)
						}
					}
				}
			}
		}
		.planet-info-container {
			display: flex;
			justify-content: center;
			gap: 30px;
			justify-content: stretch;
			width: 100%;
			.info-item {
				display: flex;
				flex-direction: column;
				width: 100%;
				border: 1px solid $payneGrey;
				padding: 25px 20px 25px;
				gap: 5px;
				.info-name {
					color: $stack;
					font-family: $fontSpartan;
				}
				.info-value {
					font-family: $fontAntonio;
				}
			}
		}
	}
}
@media only screen and (max-width: 1000px) {
	main {
		.container {
			.planet-info-container {
				gap: 10px;
				.info-item {

					.info-name {
						color: $stack;
						font-family: $fontSpartan;
						font-size: 0.8rem;
					}
					.info-value {
						font-family: $fontAntonio;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	main {
		.container {
			width: 95%;
			.planet-details-container{
				.planet-details{
					flex-direction: row;
					align-items: center;
					gap:50px;
					.planet-about-container{
						gap: 10px;
						.planet-about{
							display: flex;
							flex-direction: column;
							gap: 20px;							
							flex: 200px;
							.planet-source{
								font-size: 0.85rem;
							}
						}
					}
					.info-states-container{
						flex-basis: 200%;
						.info-state-item{
							font-size: 0.8rem;
						}
					}
				}
			}
			.planet-details-container {
				flex-direction: column;
				gap: 50px;
			}
			.planet-info-container {
				flex-direction: column;
				gap: 20px;
				.info-item {
					padding: 25px 20px 25px;
					box-sizing: border-box;
					.info-name {
						color: $stack;
						font-family: $fontSpartan;
						font-size: 0.8rem;
					}
					.info-value {
						font-family: $fontAntonio;
					}
				}
			}
		}
	}
}


@media only screen and (max-width: 500px) {
	main {
		margin: 0;
		.container {
			width: 100%;
			.info-states-container-mobile{
				border: 1px solid $payneGrey;

				width: 100%;
				display: block;
				box-sizing: border-box;
				.info-states{
					display: flex;
					list-style-type: none;
					justify-content: space-around;
					.info-state-item{
						display: flex;
						padding: 20px 0;
						font-size: 1em;
						font-family: $fontSpartan;
						cursor: pointer;
						text-decoration: none;
						color: $white;
					}
					.mercury.active{
						@include planetBorder($mercury)
					}
					.venus.active{
						@include planetBorder($venus)
					}
					.earth.active{
						@include planetBorder($earth)
					}
					.mars.active{
						@include planetBorder($mars)
					}
					.jupiter.active{
						@include planetBorder($jupiter)
					}
					.saturn.active{
						@include planetBorder($saturn)
					}
					.uranus.active{
						@include planetBorder($uranus)
					}
					.neptune.active{
						@include planetBorder($neptune)
					}
				}
			}
			.planet-details-container{
				width: 95%;
				margin: 0 auto;
				.planet-details{
					flex-direction: row;
					align-items: center;
					gap:50px;
					.planet-about-container{
						gap: 10px;
						.planet-about{
							display: flex;
							flex-direction: column;
							gap: 20px;							
							flex: 200px;
							.planet-source{
								font-size: 0.85rem;
							}
						}
					}
					.info-states-container{
						display: none;
						flex-basis: 200%;
						.info-state-item{

						}
					}
				}
			}
			.planet-details-container {
				flex-direction: column;
				gap: 50px;
			}
			.planet-info-container {
				flex-direction: column;
				gap: 20px;
				.info-item {
					padding: 25px 20px 25px;
					box-sizing: border-box;
					.info-name {
						color: $stack;
						font-family: $fontSpartan;
						font-size: 0.8rem;
					}
					.info-value {
						font-family: $fontAntonio;
					}
				}
			}
		}
	}
}
