@forward "./abstracts/index.scss";
@use "./partials/header";
@use "./pages/planet.scss";
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #070724;
    #root{
        content: "";
        background: url("/images/background-stars.svg");
        width: 100%;
        height: 100%;
        position: sticky;
        z-index: 100;
    }
}
